.container-1 {
  border: 1px solid black;
  width: 75%;
  margin: auto;
  text-align: center;
}

.flex-blackjack-row-1,
.flex-box-container-1,
.flex-box-rps,
.flex-box-pick-color,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
table,
th,
tr,
td {
  padding: 10px;
  border: 1px solid black;
}

.flex-blackjack-row-1 div {
  border: 1px solid black;
  padding: 10px;
  flex: 1;
  text-align: center;
  height: 400px;
}
.flex-blackjack-row-1 img {
  padding: 0px;
  flex: wrap;
  height: 100px;
  width: 50px;
}
.flex-box-container-1 div {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}
.flex-box-rps img:hover {
  box-shadow: 0px 10px 50px rgb(19, 66, 221);
}
